@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Cadastro de Turma e Alunos</h1>
    <p class="display-6">Desafio .Net FIAP</p>
</div>
